{% include "is_mapsherpa_product" %}
{% if is_not_mapsherpa_product %}
<div class="form-actions"{{ product-add-to-cart-button }}>
    <input type="submit" name="add" value="{% include '__localize' with 'Add to cart' %}" id="purchase" class="btn" />
</div>
{% else %}
<a href="javascript:void(0);" class="btn btn-primary btn-launch-ondemand" data-sku="{{product.variants[0].sku}}" data-loading-text='Loading OnDemand ...'>Customize Now</a>
{% endif %}